<h1>Bookmarks</h1>

<div>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, placeholder: "Write your comment here" %>
    <%= f.association :movie, collection: Movie.all %>
    <%= f.submit class: "btn btn-flat"%>
  <% end %>
</div>
